
<h3>Messages send</h3>

<div>
	<canvas id="lineChart"></canvas>
</div>


<script>
docReady(function() {

var ctx = document.getElementById('lineChart').getContext('2d');
var myLineChart = Chart.Line(ctx, {
			type: 'line',
			data: {
				labels: {{linelabels|tojson}},
				datasets: [
					{% for user in users %}
						{
							label: '{{user.name}}',
							borderColor: getColor({{loop.index0}}),
							backgroundColor: getColor({{loop.index0}}),
							fill: false,
							data:{{linedata[loop.index0]|tojson}},
							yAxisID: 'y-axis-1',
						},
					{% endfor %}
				]
			} ,
			options: {
				responsive: true,
				title: {
					display: false,
					text: ''
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					yAxes: [{
						type: 'linear',
						display: true,
						position: 'left',
						id: 'y-axis-1',
					},],
				},
			}
		});
});
</script>

